/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Define colors */
    --accent: 26, 67, 201;
    --secondary: 255, 255, 0;

    /* Default Theme */
    --color-text-primary: 0, 0, 0;
    --color-text-accent: var(--accent);
    --color-text-disabled: 166, 169, 179;
    --color-text-inverted: 255, 255, 255;
    --color-fill: 255, 255, 255;
    --color-fill-accent: var(--accent);
    --color-fill-accent-hover: 56, 84, 171;
    --color-fill-disabled: 99, 102, 241;
    --color-border-primary: 229, 231, 235;
    --color-border-accent: var(--accent);
  }
  .theme-swiss {
    --color-text-base: 255, 255, 255;
    --color-text-muted: 254, 202, 202;
    --color-text-inverted: 220, 38, 38;
    --color-fill: 185, 28, 28;
    --color-button-accent: 255, 255, 255;
    --color-button-accent-hover: 254, 242, 242;
    --color-button-muted: 239, 68, 68;
  }
  .theme-neon {
    --color-text-base: 17, 24, 2;
    --color-text-muted: 47, 67, 6;
    --color-text-inverted: 235, 250, 204;
    --color-fill: 179, 255, 23;
    --color-button-accent: 36, 52, 3;
    --color-button-accent-hover: 55, 79, 5;
    --color-button-muted: 212, 255, 122;
  }
}
