@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Define colors */
    --accent: 126, 34, 206;
    --accent-border: 217, 82, 191;
    --accent-hover: 217, 82, 191;
    --white: 255, 255, 255;
    --black: 0, 0, 0;
    --text-disabled: 166, 169, 179;
    --fill: 250, 250, 249;
    --fill-inverted: 28, 25, 23;
    --fill-diabled: 99, 102, 241;

    /* Default Theme */
    --color-text-primary: var(--black);
    --color-text-accent: var(--accent);
    --color-text-disabled: var(--text-disabled);
    --color-text-inverted: var(--white);
    --color-fill: var(--fill);
    --color-fill-accent: var(--accent);
    --color-fill-accent-hover: var(--accent-hover);
    --color-fill-disabled: var(--fill-disabled);
    --color-border-primary: var(--fill);
    --color-border-accent: var(--accent);
    --color-border-inverted: var(--fill-inverted);
  }

  .root-dark {
    /* Define colors */
    --accent: 196, 181, 253;
    --accent-border: 217, 82, 191;
    --accent-hover: 217, 82, 191;
    --white: 255, 255, 255;
    --black: 0, 0, 0;
    --text-disabled: 166, 169, 179;
    --fill: 28, 25, 23;
    --fill-inverted: 250, 250, 249;
    --fill-diabled: 99, 102, 241;

    /* Default Theme */
    --color-text-primary: var(--white);
    --color-text-accent: var(--accent);
    --color-text-disabled: var(--text-disabled);
    --color-text-inverted: var(--black);
    --color-fill: var(--fill);
    --color-fill-accent: var(--accent);
    --color-fill-accent-hover: var(--accent-hover);
    --color-fill-disabled: var(--fill-disabled);
    --color-border-primary: var(--fill);
    --color-border-accent: var(--accent);
    --color-border-inverted: var(--fill-inverted);
  }
}

@layer utilities {
  .cust-paragraph-text {
    @apply text-base xl:text-lg;
  }
  .cust-section-title {
    @apply font-semibold text-xl xl:text-2xl;
  }

  .cust-btn-base {
    @apply px-4 py-2 rounded-md font-semibold transition duration-200 ease-in-out cursor-pointer;
  }

  .cust-btn-btn {
    @apply border-2 border-skin-inverted hover:bg-skin-accent hover:text-skin-inverted;
  }

  .cust-btn-link {
    @apply hover:text-skin-accent;
  }
}

/* importing from custom code */
@import '../custom_client_code/style_overrides/theme.css';
